body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h2,
h3 {
  font-size: 28px;
  font-weight: bolder;
  margin-left: 10px;
}

li {
  list-style: none;
}

input {
  padding: 5px;
  margin: 5px;
}

.input,
.search {
  margin-left: 15px;
}

.submit {
  padding: 5px;
  font-weight: 500;
  margin: 10px 15px;
  width: 48px;
}

.name {
  padding: 5px;
  margin: 5px;
  font-weight: 700;
}

.number {
  padding: 5px;
  font-weight: 300;
}
